@font-face {
    font-family: Danger;
    src: url('font/Danger-on-the-Motorway.otf');
}

* {
    font-family: 'Danger';
}


body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: monospace;
    font-size: 24px;
    background-color: black;
    color: gold;
    text-shadow:1px 1px 15px gold;
}
td, th {
    padding: 1px 4px;
}
.numeroTavolo{
    min-width:300px;
}
.nomeTavolo{
    min-width:300px;
    background-color: #1b1b1b;
    border:4px solid black;
    padding-left: 10px;
}
.elenco{
    max-width:450px;
    white-space: nowrap;
    overflow: hidden;
    background-color: #1b1b1b;
    border:4px solid black;
    padding-left: 10px;
    padding-right: 10px;

}
/*@keyframes marquee {*/
/*0%   { text-indent: 750px }*/
/*100% { text-indent:  -750px }*/
/*}*/

@keyframes marquee {
    0%   { text-indent: 100% }
    100% { text-indent:  -100% }
}

.marquee {
    overflow: hidden;
    /*white-space:nowrap;*/
    animation: marquee 16s linear infinite;
    -webkit-animation: marquee 16s steps(91) infinite;
}

.marquee:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
