@font-face {
    font-family: Danger;
    src: url('font/Danger-on-the-Motorway.otf');
}

* {
    font-family: 'Danger';
}


body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: monospace;
    font-size: 30px;
    background-color: black;
    color: gold;
    text-shadow:1px 1px 15px gold;
}
td, th {
    padding: 1px 4px;
}
.numeroTavolo{
    min-width:300px;
}
.nomeTavolo{
    min-width:300px;
}
.elenco{
    max-width:750px;
    white-space: nowrap;
    overflow: hidden;
}
/*@keyframes marquee {*/
/*0%   { text-indent: 750px }*/
/*100% { text-indent:  -750px }*/
/*}*/

@-webkit-keyframes marquee {
    0%   { text-indent: 732px }
    100% { text-indent:  -750px }
}

.marquee {
    overflow: hidden;
    white-space:nowrap;
    animation: marquee 16s linear infinite;
    -webkit-animation: marquee 35s steps(103) infinite;
}

.marquee:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
