@font-face {
	font-family: Danger;
	src: url('Danger-on-the-Motorway.otf');
}

* {
	font-family: 'Danger';
}

body {
	font-size: 36px;
	line-height: 48px;
	background-color: black;
	padding: 24px;
}

h1 {
	font-family: 'Danger';
	font-size: 96px;
	line-height: 160px;
	margin: 0;
	padding: 0;
	color: white;
	text-shadow: 0px 0px 16px white;
}

.thead {
	color: white;
	text-shadow: 0px 0px 16px white;
}

.tbody {
	color: gold;
	text-shadow: 0px 0px 16px gold;

}

.num-tavolo {
	text-align: right;
}

.num-tavolo,
.nomi-tavolo,
.invitati {
	overflow: hidden;
	white-space: nowrap;
	background: #111111;
	border: 6px solid #000000;
	padding: 6px 20px;
}

span.testo {
	display: inline-block;
	white-space: pre;
}

.marquee {
	animation: marquee 16s infinite linear;
	color: green;
}