@font-face {
	font-family: Danger;
	src: url('Danger-on-the-Motorway.otf');
}

* {
	font-family: 'Danger';
}

body {
	font-size: 48px;
	line-height: 72px;
	background-color: black;
}

h1 {
	font-family: 'Danger';
	font-size: 96px;
	line-height: 160px;
	margin: 0;
	padding: 0;
	color: white;
	text-shadow: 0px 0px 16px white;
}

.thead {
	color: white;
	text-shadow: 0px 0px 16px white;
}

.tbody {
	color: gold;
	text-shadow: 0px 0px 16px gold;

}

.nomi-tavolo {
	overflow: hidden;
	white-space: nowrap;
}

.invitati {
	overflow: hidden;
	white-space: nowrap;
}

span.testo {
	display: inline-block;
	white-space: pre;
}

.marquee {
	animation: marquee 16s infinite linear;
	color: green;
}